<!DOCTYPE html>
<html ng-app = "rsApp">
<head>
    <title>My first Angular Application</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js">
    </script>
    <script src="app.js"></script>
</head>
<body>
    <div ng-controller="rsController">
        <input ng-model="customName"  placeholder="Enter Name" />
        <button ng-click="getName('Ravi')">Ravi</button>
        <button ng-click="getName(customName)">Entered Name</button>
        <p> Welcome Your are {{name}} !</p>
    </div>

</body>
</html>